
#qna {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: aquamarine;
}

#qsearch {
  display: flex;
  flex-direction: row;
  align-items: left;
}

#qsearchtextinput {
  flex-grow: 10;
}

#qMag {
  align-self: end;
}


#questionList {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.answer {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.answerbottombor {
  display: flex;
  flex-direction: row;
  align-items: left;
}

.questiontopbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.questionHelpful {
  align-self: end;
}

.addAnswer {
  align-self: end;
}

.questionHelpAdd {
  display: flex;
  flex-direction: row;
  align-self: end;
}

.answerList {
  display: flex;
  flex-direction: row;
}
