.rating-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  background-color: #E1D8C7
}

.rating-box {
  display: flex;
  flex-direction: row;
  background-color: #8BC7BD
}
.overall-rating {
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: #C1B295;
  flex-basis: 30%;
}