/* font-family: 'Julius Sans One', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Thasadith', sans-serif; */

#logo, #announcement, #slogan, #description, #read-all-reviews, #expanded, #category, #style-selected, #sizes, #quantities, #price, #add-to-bag, .fact {
  color: var(--gray);
}

#announcement, #category, #price, #style-selected, #sizes, #quantities, #add-to-bag, .fact {
  font-family: 'Thasadith', sans-serif;
}

#read-all-reviews, #expanded, #slogan, #description, #logo {
  font-family: 'Roboto', sans-serif;
}

#logo {
  background-color: lightslategray;
  height: 80px;
  width: 1300px;
}

#overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#announcement {
  text-align: center;
  font-size: 16px;
  padding: 15px 0px 15px 0px;
}

#body {
  display: flex;
  flex-direction: row;
  height: 900px;
  padding-bottom: 40px;
}

#thumbs {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100%;
  background-color: transparent;
  align-items: center;
}

.thumb {
  background-color: lightsteelblue;
  width: 70px;
  height: 70px;
  margin: 20px 0px 0px 0px;
  border: 1px solid var(--gray);
}

#left {
  display: flex;
  flex-direction: column;
}

#main-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(230, 230, 230);
  width: 800px;
  height: 600px;
}

#description-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 300px;
}

#slogan, #description {
  padding: 0px 0px 0px 100px;
}

#slogan {
  font-size: 19px;
  padding-top: 100px;
  padding-bottom: 30px;
}

#description {
  font-size: 15px;
}

#thumbs-left-arrow-container {
  display: flex;
  flex-direction: row;
}

#arrow-left, #arrow-right {
  background-color: yellow;
  width: 50px;
  height: 50px;
}

#arrow-column-left, #arrow-column-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  height: 480px;
  width: 50px;
  padding: 0px 10px 0px 0px;
}

#right {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-left: 30px;
}

#stars {
  width: 100px;
  height: auto;
  padding: 0px 10px 0px 0px;
}

#read-all-reviews {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 0px 20px 0px;
  font-size: 13px;
}

#details {
  height: 100px;
  width: 100px;
  color: black;
}

#category {

}

#expanded {
  font-size: 40px;
  padding: 10px 0px 30px 0px;
}

#price {
  padding: 0px 0px 30px 0px;
}

#styles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 370px;
  height: auto;
  padding: 0px 0px 20px 0px;
}

#style-selected {
  font-size: 20px;
}

#style {
  border-radius: 60px;
  height: 60px;
  width: 60px;
  border: 1px solid var(--gray);
  background-color: lightsteelblue;
  margin: 15px 25px 5px 0px;
}

#buttons-select, #buttons-add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 0px 20px 0px;
}

#buttons-add {
  padding: 0px 0px 100px 0px;
}

#sizes, #quantities, #add-to-bag, #watch {
  border: 1px solid var(--gray);
  height: 65px;
  font-weight: bold;
  font-size: 17px;
  padding: 0px 20px 0px 20px;
}

#sizes {
  width: 300px;
}

#quantities {
  width: 150px;
}

#add-to-bag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  text-align: left;
}

#watch {
  width: 100px;
}

#facts {
  border-left: 2px solid var(--gray);
}

.fact {
  padding: 0px 0px 20px 20px;
}